:root {
    --materialBlack: #000000;
    --almostBlack: #2b2b2b;
    --panelBG: #353535;
    --materialGray: #a5a5a5;
    --materialWhite: #fff;
    --materialBlue: #2061da;
    --materialRed: #e6374f;
    --materialGreen: #159c37;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--materialWhite);
}

body {
    background-color: var(--almostBlack);
}

header {
    background: var(--materialBlack);
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    text-align: center;
}

.title {
    text-align: center;
}

#catBtn {
    width: 15%;
    height: 20%;
    background-color: var(--materialGreen);
    position: absolute; top: 70%; right: 7%;
}

#dogBtn {
    width: 15%;
    height: 20%;
    background-color: var(--materialRed);
    position: absolute; top: 70%; right: 30%;
}

#mainPanel {
    background-color: var(--panelBG);
    display: none;

    position: relative;
    top: 30vh;
    height: 200%;
    padding: 30px;
}

 /* Basic styling for centering elements */
 .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
}

#dogPanel {
    background-color: aquamarine;
    display: flex;
    position: absolute; top: 20%; right: 25%;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 20%;
    height: 70%;
}

#catPanel {
    background-color: aquamarine;
    display: block;
    position: absolute; top: 20%; right: 2%;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 20%;
    height: 70%;
}

#searchHistory {
    position: absolute;
    top: 60vh;
    width: 100%;
    display: none;
    background-color: var(--panelBG);
}

#searchResult {
    align-items: center;
}

#submitBtn {
    padding: 15px;
    width: 50%;

    background-color: var(--materialBlue);
}

#word {
    font-size: 30px;
}