:root {
    --materialBlack: #000000;
    --almostBlack: #2b2b2b;
    --panelBG: #353535;
    --materialGray: #a5a5a5;
    --materialWhite: #fff;
    --materialBlue: #2061da;
    --borderBlue: #1a4caa;
    --materialRed: #c9244d;
    --materialdarkerRed: #ac1e42;
    --borderRed: #8b1734;
    --descriptionDivider: #202020;
    --descriptionText: #585858;
    --iconText: #409ddb;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--materialWhite);
}

body {
    background-color: var(--almostBlack);
}

header {
    background: var(--materialBlack);
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-large {
    height: 50px;
}

.description {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    text-decoration: overline;
    text-decoration-color: var(--descriptionDivider);
    color: var(--descriptionText);
}

.title {
    text-align: center;
    font-size: 60px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 35px;

}

.titleIcon {
    color: var(--materialGray);
}

#catBtn {
    border-right: 4px solid var(--borderRed);
    border-top: 4px solid var(--borderRed);
    border-bottom: 4px solid var(--borderRed);
    height: 57px;
    width: 25%;
    background-color: var(--materialdarkerRed);
    border-radius: 0 30px 30px 0;
}

#dogBtn {
    border-top: 4px solid var(--borderRed);
    border-bottom: 4px solid var(--borderRed);
    height: 57px;
    width: 25%;
    background-color: var(--materialRed);
}

#mainPanel {
    background-color: var(--panelBG);
    display: none;

    position: relative;
    top: 40vh;

    padding: 30px;
}

#nyTimesNews {
    background-color: aquamarine;
    display: none;
}

#searchHistory {
    position: absolute;
    top: 75vh;
    width: 100%;
    display: none;
    background-color: var(--panelBG);
    list-style-type: none;
}

#searchHistory ul {
    text-decoration: none;
    padding: 30px 30px 20px 25px;
}

#searchHistory button {
    background-color: #2061da;
    margin: 10px;
    font-size: 25px;
}

#searchResult {
}

#submitBtn {
    border-left: 4px solid var(--borderBlue);
    border-top: 4px solid var(--borderBlue);
    border-bottom: 4px solid var(--borderBlue);
    height: 57px;
    text-align: center;
    width: 50%;
    border-radius: 30px 0 0 30px;
    background-color: var(--materialBlue);
}


#word {
    font-size: 30px;
}