/*Universal selectors*/

:root {
    --materialBlack: #111111;
    --almostBlack: #2b2b2b;
    --panelBG: #353535;
    --materialGray: #a5a5a5;
    --materialWhite: #fff;
    --materialBlue: #2061da;
    --borderBlue: #143a81;
    --materialRed: #c9244d;
    --materialdarkerRed: #ac1e42;
    --materialDarkerBlue: #174eb4;
    --borderRed: #8b1734;
    --descriptionDivider: #202020;
    --descriptionText: #e4e738;
    --iconText: #409ddb;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--materialWhite);
}

audio {
    margin: 15px 0 30px 0;
}

.row {
        --bs-gutter-x: 0;
}

body {
    background-color: var(--almostBlack);
}

header {
    background: var(--materialBlack);
    /* position: absolute;
    top: 0; */
    width: 100%;
}

p,
a {
    font-size: 25px;
}

/* Style headers and title*/

.title {
    text-align: center;
    font-size: 60px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 35px;
    margin-top: 0;
    padding-top: 25px;
}

.titleIcon {
    color: var(--materialGray);
}


/* Style for blurt modals*/
h2 {
    color: #111111;
}

/* Basic styling for centering elements */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
}

/*Style images and search containers*/
#word {
    font-size: 30px;
}

#mainPanel {
    background-color: var(--panelBG);
    display: none;

    padding: 30px;

    align-items: center;
}

.animalImage {
    min-width: 100px;
    height: 150px;
    width: auto;
    position: relative;
}

.btn-large {
    height: 50px;
}

#wordEnter {
    font-size: 25px;
}

.description {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    text-decoration: overline;
    text-decoration-color: var(--descriptionDivider);
    color: var(--descriptionText);
}

.imageSection {
    display: flex;
    justify-content: space-between;
}

#submitBtn {
    border-left: 4px solid var(--borderBlue);
    border-top: 4px solid var(--borderBlue);
    border-bottom: 4px solid var(--borderBlue);
    height: 57px;
    text-align: center;
    width: 50%;
    border-radius: 30px 0 0 30px;
    background-color: var(--materialBlue);
}

#catBtn:hover, #dogBtn:hover, #randWordBtn:hover  {
    font-size: 15px;
}

#randWordBtn:hover  {
    font-size: 17px;
}


#submitBtn:hover  {
    font-size: 20px;
}

.btnContainer {
    display: contents;
}

.searchSection {
    display: block;
    width: 100%;
}

#catBtn {
    border-right: 4px solid var(--borderRed);
    border-top: 4px solid var(--borderRed);
    border-bottom: 4px solid var(--borderRed);
    border-radius: 0 30px 30px 0;
    height: 57px;
    width: 16.6%;
    background-color: var(--materialdarkerRed);
    font-size: 14px;

}


#dogBtn {
    border-top: 4px solid var(--borderRed);
    border-bottom: 4px solid var(--borderRed);
    height: 57px;
    width: 16.6%;
    background-color: var(--materialRed);
    font-size: 14px;
    margin-bottom: 10px;
}

#randWordBtn {
    border-top: 4px solid var(--borderBlue);
    border-bottom: 4px solid var(--borderBlue);
    height: 57px;
    width: 16.6%;
    background-color: var(--materialDarkerBlue);
}


#dogPanel {
    display: none;
    display: block;
    background-color: var(--panelBG);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 15px 0 0 0;
    height: 300px;
}

#catPanel {
    display: none;
    display: block;
    background-color: var(--panelBG);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 15px 0 0 0;
    height: 300px;
}

/*Style search style*/

.searchHistoryTitle {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    margin: 30px 0 30px 0;
    text-align: center;
    color: var(--materialGray);
}

#searchHistory {
    background-color: var(--panelBG);
    list-style-type: none;
}

#searchHistory ul {
    text-decoration: none;
    padding: 30px 30px 20px 25px;
}

#searchHistory button {
    background-color: var(--almostBlack);
    margin: 10px;
    font-size: 25px;
    padding: 20px;
}

#searchResult {
    padding-right: 60px;

}


#ulSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ulSearch button {
    font-size: 20px;
}


#ulSearch button:hover {
    font-size: 22px;
}




/* media query*/

@media screen and (max-width: 1210px) {
    .description {
        font-size: 25px;

    }

    .btnContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #submitBtn {
        width: 30%;
    }

    #randWordBtn {
        width: unset;
    }

    #searchHistory ul {
        padding: 0;
    }

    #dogBtn,
    #catBtn {
        width: unset;
    }

    #catPanel,
    #dogPanel {
        background-color: var(--panelBG);
    }

}

@media screen and (max-width: 960px) {

    .title {
        font-size: 40px;
    }

    .description {
        font-size: 25px;

    }

    #wordEnter {
        width: 100%;
        text-align: center;
    }

    .btnContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
    }


    #submitBtn {
        border-radius: 30px;
        font-size: small;
        height: fit-content;
        margin: 5px;
        width: auto;

    }


    #randWordBtn {
        border-left: 4px solid var(--borderBlue);
        border-top: 4px solid var(--borderBlue);
        border-bottom: 4px solid var(--borderBlue);
        height: 57px;
        text-align: center;
        width: 50%;
        border-radius: 30px;
        background-color: var(--materialBlue);
        padding: 0;
        margin: 5px;
    }

    #dogBtn,
    #catBtn {
        text-align: center;
        width: 50%;
        border-radius: 30px;
        background-color: var(--materialdarkerRed);
        border-right: 4px solid var(--borderRed);
        border-top: 4px solid var(--borderRed);
        border-bottom: 4px solid var(--borderRed);
        padding: 0;
        margin: 5px;
    }

    #searchHistory ul {
        padding: 0;
    }

    .imageSection {
        display: flex;
        flex-direction: column
    }


    #catPanel,
    #dogPanel {
        background-color: var(--panelBG);
    }
}