:root {
    --materialBlack: #111111;
    --almostBlack: #2b2b2b;
    --panelBG: #353535;
    --materialGray: #a5a5a5;
    --materialWhite: #fff;
    --materialBlue: #2061da;
    --borderBlue: #143a81;
    --materialRed: #c9244d;
    --materialdarkerRed: #ac1e42;
    --materialDarkerBlue: #174eb4;
    --borderRed: #8b1734;
    --descriptionDivider: #202020;
    --descriptionText: #e4e738;
    --iconText: #409ddb;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--materialWhite);
}

audio {
    margin: 15px 0 30px 0;
}

body {
    background-color: var(--almostBlack);
}

header {
    background: var(--materialBlack);
    /* position: absolute;
    top: 0; */
    width: 100%;
}

/* Style for blurt modals*/
h2 {
color: #111111;
}

.animalImage {
    min-width: 100px;
    height: 150px;
    width: auto;
    position: relative;
}

.btn-large {
    height: 50px;
}

/* Basic styling for centering elements */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
}

.description {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    text-decoration: overline;
    text-decoration-color: var(--descriptionDivider);
    color: var(--descriptionText);
}

.imageSection {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 60px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 35px;
    margin-top: 0;
    padding-top: 25px;
}

.titleIcon {
    color: var(--materialGray);
}

.searchHistoryTitle {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    margin: 30px 0 30px 0;
    text-align: center;
    color: var(--materialGray);
}

.searchSection {
    display: block;
    width: 100%;
}

#catBtn {
    border-right: 4px solid var(--borderRed);
    border-top: 4px solid var(--borderRed);
    border-bottom: 4px solid var(--borderRed);
    border-radius: 0 30px 30px 0;
    height: 57px;
    width: 16.6%;
    background-color: var(--materialdarkerRed);
    
}

#dogBtn {
    border-top: 4px solid var(--borderRed);
    border-bottom: 4px solid var(--borderRed);
    height: 57px;
    width: 16.6%;
    background-color: var(--materialRed);
}

#randWordBtn {
    border-top: 4px solid var(--borderBlue);
    border-bottom: 4px solid var(--borderBlue);
    height: 57px;
    width: 16.6%;
    background-color: var(--materialDarkerBlue);
}

#mainPanel {
    background-color: var(--panelBG);
    display: none;

    padding: 30px;

    align-items: center;
}

#dogPanel {
    display: none;
    display: block;
    background-color: var(--almostBlack);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 15px 0 0 0;
    height: 300px;
}

#catPanel {
    display: none;
    display: block;
    background-color: var(--almostBlack);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 15px 0 0 0;
    height: 300px;
}

#searchHistory {
    background-color: var(--panelBG);
    list-style-type: none;
}

#searchHistory ul {
    text-decoration: none;
    padding: 30px 30px 20px 25px;
}

#searchHistory button {
    background-color: var(--almostBlack);
    margin: 10px;
    font-size: 25px;
    padding: 20px;
}

#searchResult {
    padding-right: 60px;
    
}

#submitBtn {
    border-left: 4px solid var(--borderBlue);
    border-top: 4px solid var(--borderBlue);
    border-bottom: 4px solid var(--borderBlue);
    height: 57px;
    text-align: center;
    width: 50%;
    border-radius: 30px 0 0 30px;
    background-color: var(--materialBlue);
}

#ulSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#word {
    font-size: 30px;
}

/* @media (max-height: 855px) {
    .searchHistoryTitle {
        margin: 0 0 1% 0;
    }

    #mainPanel {
        top: 17vh;
    }
}

@media (min-height: 950px) {
    .searchHistoryTitle {
        margin: 0 0 3% 0;
    }
}

@media (min-height: 980px) {
    .searchHistoryTitle {
        margin: 1% 0 1% 0;
    }
}

@media (max-width: 1152px) {
    .searchSection {
        top: 43vh;
    }

    .searchHistoryTitle {
        margin: 18px 0 30px 0;
    }
}

@media (max-width: 610px) {
    .searchSection {
        top: 43vh;
    }

    .searchHistoryTitle {
        margin: 18px 0 30px 0;
    }
}

@media (max-width: 1153px) {
    #mainPanel {
        top: 22vh;
    }

    .searchHistoryTitle {
        margin: 13px 0 30px 0;
    }
} */